.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 12px;
}

.header-btn-group {
    display: flex;
    list-style-type: none;
    text-align: center;
    margin: 0;
}

.header-btn-group > li {
    margin-left: 44px;
    margin-top: 2px;
}

.header-btn-group > li > span {
    color: grey;
    font-weight: 500;
}

.header-btn > button {
    display: flex;
}

.header-btn > button > svg {
    width: 34px;
    height: 34px;
}


.header-logo {
    width: auto;
    height: 100%;
}

.header-logo > img {
    width: ;
}

.logo-section {
    margin-top: 2px;
    height: 53px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.logo-section > span {
    text-align:left;
    letter-spacing: 2px;
}