.nav-overMenu {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease;
}

.nav:hover .nav-overMenu {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.nav:hover .nav-overMenu-ul {
    padding: 25px 0 25px 0;
    gap : 15px;
}

.nav-overMenu-ul {
    transition: padding 1s ease, gap 1s ease;
    height: auto;
    list-style-type: none;
    text-align: left;
    display: inline-grid;
    padding: 2px 0 2px 0;
    gap : 1px;
}

.nav-overMenu-ul > li:first-child {
    font-weight: 700;
}

.nav-content .contents {
    position: relative;
    padding-left: 15px;
    padding-right: 30px;
}

.nav {
    width: 100%;
    display: inline-flex;
    list-style-type: none;
    text-align: left;
    margin: 0;
}
.nav > li {
    width: 162px;
}

.nav > li > a > h3 {
    margin: 0;
}

.search-section > div > input {
    color: #313131;
}

.search-section > svg {
    display: block;
    position: absolute;
    right: 9px;
    top: -1px;
    width: 26px;
    height: 26px;
    font-size: 0;
    line-height: 0;
    color: #313131;
}

.search-section {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 38px 0 10px;
}

.search-section:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 1px;
    height: 20px;
    background-color: #cacaca;
}

.search-section:after {
    content: '';
    position: absolute;
    right: 0;
    top: 2px;
    width: 1px;
    height: 20px;
    background-color: #cacaca;
}