.video {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.video > iframe {
    width: 100%;
    height: 100%;
}

#container .contents {
    width: 980px;
    height: 100%;
    margin: 0 auto;
}